@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(
      60% 40% at 70% 20%,
      rgba(245, 179, 1, 0.15),
      transparent
    ),
    #05060b;
  color: #e6e8f0;
  font-family: 'Inter', system-ui, sans-serif;
}

.glow-gold {
  box-shadow: 0 0 60px rgba(245, 179, 1, 0.35);
}


/* Hide scrollbar but keep scroll working */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE / Edge */
* {
  -ms-overflow-style: none;
}


